.logo img {
    max-height: 40px; /* Adjust the max height of the logo as needed */
    margin-right: 10px; /* Adjust margin as needed */
}
.bg{
    background:url('../Image/bg.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat; 
    height: 600px; 
 
    text-align: center;
    color: rgb(0, 0, 0);
   
}
.button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #4ca2af;
    color: #ffffff;
    background-color: #4ca2af;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .button1:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #4ca2af;
  }
  
  .button2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #ffffff;
    color: #4ca2af;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .button2:hover {
    background-color: #4ca2af;
    border-color: #4ca2af;
    color: white;
  }
  .center{
    text-align: center;
    margin-top: 10px;
  }
  .icon i {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #195862;
  }

  .box {
    margin-top: 10px;
    border: 2px solid rgb(45, 182, 173);
    background-color: rgb(45, 182, 173);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; 
    border-radius: 10%;
  }
  .img-fluid {
    max-width: 90%;
    height: auto;
  }
  .segment {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px; 
  }
  
  .segment p {
    margin: 0;
  }
  
  .segment p i {
    margin-right: 5px; 
  }
  
  .top{
    margin-top: 10%;
  }
  .img{
    max-width: 95%;
    height: auto;
  }
  .overlap{
    border: 1px white solid;
    padding: 10px;
    background-color: white;
    position: absolute; top: 50%; 
    top: 50%;
    left: 80%;
     transform: translate(-50%, -50%);
    }
    .overlap2{
        border: 1px white solid;
        padding: 4px;
        background-color: white;
        position: absolute; top: 50%; 
        top: 90%;
        left: 10%;
         transform: translate(-50%, -50%);
        }
        .overlap3{
            border: 1px white solid;
            padding: 5px;
            background-color: white;
            position: absolute; top: 50%; 
            top: 90%;
            left: 85%;
             transform: translate(-50%, -50%);
             text-align: center;
            }
            .overlap4{
                border: 1px white solid;
                padding: 5px;
                background-color: white;
                position: absolute; top: 50%; 
                top: 2050px;
                left: 57%;
                 transform: translate(-50%, -50%);
                 text-align: center;
                }
.pic{
width: 100%;
height: 94%;

  }
 .color {
color: rgb(45, 182, 173);
  }
  .box1{
    border: 1px solid rgb(223, 251, 249) ;
    background-color:rgb(223, 251, 249) ;
    padding-bottom: 10px;
  }
  .fluid{
    width: 260px;
    height: 320px;
  }
  .bi.bi-facebook {
    border: 2px solid rgb(45, 182, 173);;
    color: rgb(3, 3, 3);
    background-color: rgb(45, 182, 173);;
    padding: 10px;
    border-radius: 40%;
}

  .bi.bi-twitter{
    border: 2px solid rgb(45, 182, 173);
    color: rgb(3, 3, 3);
    background-color: rgb(45, 182, 173);;
    padding: 10px;
    border-radius: 40%;
  }
  .bi.bi-instagram{
    border: 2px solid rgb(45, 182, 173);
    color: rgb(3, 3, 3);
    background-color: rgb(45, 182, 173);
    padding: 10px;
    border-radius: 40%;
  }
  .box2 {
    width: 260px;
    border: 1px solid #ccc;
  background-color: rgb(192, 233, 231);
    border-radius: 5px; 
}

.img-small {
    max-width: 100px; 
}

.rounded-circle {
    border-radius: 50%; 
    padding: 10px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}
.footer-links {
    list-style-type: none;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    margin-right: 20px;
}
.footer-links li:last-child {
    margin-right: 0;
}
.newsletter-input {
    margin-top: 20px;
    display: flex;
}
.newsletter-input input[type="email"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}
.newsletter-input button {
    padding: 10px 20px;
    background-color: #37aaca;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .img-fluid {
    max-width: 80%; 
    height: auto;
  }

  .fluid {
    width: 200px;
    height: 250px; 
  }
}

@media screen and (max-width: 600px) {
  .img-fluid {
    max-width: 50%; 
    height: auto;
  }

  .fluid {
    width: 300px; 
    height: 200px; 
  }
}
